{% extends 'base.html' %}

{% block title %} - animals{% endblock %}

{% block content %}
    <H1>🐶😸🐄🐬🦔 Animals 🐇🐷🦄🐹🐯🙉</H1>
    <I><H2>We sell a variety of dogs , cats and so much more,just click on the pet you want !!</H2></I>
	{% for animal in animals %}
		<H2><font color="#000000"<U>{{animal.name}}</font></H2>
		<img src="{{animal.link}}" width="300">
	{% endfor %}
	<form action="/animals/add", method="post">
        <div class="ui form">
            <div class="field"></div>
                <input type="text" name="name" placeholder="Enter animal name...">
                <input type="text" name="url" placeholder="Enter animal url...">
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </div>
    </form>
{% endblock %} 
