{% extends 'base.html' %}

{% block title %}LI'L MATES{% endblock %}

{% block content %}
    <H1>🐾LI'L MATES🐾</H1>
    Li'l mates is a 5 star pets company which has a wide range of pets from dogs to cows. Half of our profits are sent to pets in neeed of being rescued and polar bears.
    If you are unsure of what pet you want , take the 
    take the fun quiz! We follow the covid guidelines and deliever the pet to your door. 
    Feeling generous? Donate extra money to animal charities. We take very good care of our animals and would love for them to have a nice , new home with you.</H5> 
    <img class="happy_dogs" src="https://imagesvc.meredithcorp.io/v3/jumpstartpure/image?url=https://cf-images.us-east-1.prod.boltdns.net/v1/static/474428695/4a115e02-f614-44e7-8bd6-9cb1b96742c9/7695b353-25f4-4bd5-b880-6a33c187e42a/1280x720/match/image.jpg&w=1280&h=720&q=90&c=cc" height=300>
{% endblock %}
