{% extends 'base.html' %}

{% block title %} - animal quiz{% endblock %}



{% block content %}
<div class="question">
    <H1>QUESTION 1</H1>
    <button type="button">Click Me!</button>
    <dialog open>This is an open dialog window</dialog>
    <label for="file">Downloading progress:</label>
    <progress id="file" value="32" max="100"> 32% </progress>
    <label for="fname">First name:</label>
    
    <form action="/action_page.php">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="submit" value="Submit">
        </form>
        
        <input type="checkbox" name="nameOfChoice" value="1" checked>
</div>
{% endblock %}
