{% extends 'base.html' %}

{% block title %} - todo{% endblock %}

{% block content %}
    <span class="ui header"> Todo List </span>

    <form action="/todo/add", method="post">
        <div class="ui form">
            <div class="field"></div>
                <input type="text" name="title" placeholder="Enter todo...">
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </div>
    </form>

    {% for todo in todo_list %}
        {% if todo[0].visible %}
            <div class="ui segment">
                <p class="ui big header">{{ todo[1] }} | {{ todo[0].title }}</p>
                {% if todo[0].complete %}
                    <span class="ui green label">Done</span>
                {% else %}
                    <span class="ui gray label">Incomplete</span>
                {% endif %}
                <a class="ui blue button" href="/todo/check/{{todo[0].id}}">Check</a>
                <a class="ui red button" href="/todo/hide/{{todo[0].id}}">Delete</a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
